{% extends "base.html" %}
{% load embed_video_tags %}


{% block content %}
    <div>
        <a href="{% url 'posts:list'%}">Back</a>
    </div>
    <div class="row">
        {% comment %} <h1>Title: {{ object.title }}</h1> {% endcomment %}
        <div class="col-2 post-img">
        {% if object.image %}
            <p><img src="{{ object.image.url }}"></p>
        {% endif %}
        
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <p>{{ object.content }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                
            <p>Reporter: 
                {% if object.author.banned == True %} 
                    <div class="banned">
                        {{ object.author }}
                    </div>
                {% else %}
                    <div>
                        {{ object.author }}
                    </div>
                {% endif %}
            </p>
                
                </div>
                <div class="col-8">
                    <p>Published: {{ object.date|date:"l j E G:i"}}</p>
                </div>
            </div>
        </div>
        {% comment %} <p>Date: {{ now|date }}</p> {% endcomment %}
        <div class="col-2">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'posts:update' pk=object.pk%}">Edit</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
            <a href="{% url 'posts:delete' pk=object.pk%}">Delete</a>
                </div>
            </div>
        </div>
        
        <div>
        <p> {{ object.score }}
        </div>
        <div>

        </div>
        {% if user.is_authenticated and user.banned == False%}
        <div class="vote">
            {% include 'posts/post_vote.html' with value=1 label='+'%}
            {% include 'posts/post_vote.html' with value=-1 label='-'%}
        </div>
        {% endif %}
        <div class="ban-btn">
            {% if user.is_superuser %}
            <form method="post" action="{% url 'accounts:ban' object.author.pk %}">
                {% csrf_token %}
                {% if object.author.banned == False%}
                <input type="hidden" name="set" value=1>
                <input type="submit" value="Dzban" class="ban-button ban">
                {% else %}
                <input type="hidden" name="set" value=0>
                <input type="submit" value="UnDzban" class="ban-button unban">
                {% endif %}
            </form>
            {% endif %}
        </div>
        
    </div>
    <div class="row">
        <div class="col-12 video">
             {% video object.video as my_video %}
            {% comment %} URL: {{ my_video.url }}
            Thumbnail: {{ my_video.thumbnail }}
            Backend: {{ my_video.backend }} {% endcomment %}

            {% video my_video "large" %}
        {% endvideo %}
        </div>
    </div>
    <div class="row">
                     
            <form method="post" action="{% url 'posts:comment' object.pk %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="submit" value="Save" {% if user.banned%} disabled {% endif %}>
            </form>
    
    </div>
    <div class="row">
        {% for comment in object.comments.all%}
            {% include 'posts/comment.html' %}
        {% endfor %}
    </div>
{% endblock %}

